.container {
  min-height: 100vh;
  background-color: #222831;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: calc(140px + 20px);
  font-family: "Comic Neue", system-ui;
} 

.wrapper {
  width: 100%;
  max-width: 1024px;
}
  
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  padding: 20px;
  margin-left: 35px;
}

.card {
  display: flex;
  flex-direction: column; /* Imagem na vertical com texto abaixo */
  flex-basis: calc(25% - 40px);
  align-items: center;
  max-width: 200px; /* Ajuste conforme necessário */
  padding: 10px;
}

.card img {
  width: 100%; /* A imagem ocupa toda a largura do card */
  height: 260px;
}

.card p {
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
}