.carrosselContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 18px;
  margin-left: -35px;
}
  
.card {
  display: flex;
  flex-direction: column; /* Imagem na vertical com texto abaixo */
  flex-basis: calc(25% - 40px);
  align-items: center;
  max-width: 200px; /* Ajuste conforme necessário */
  padding: 10px;
}
  
.card img {
  width: 100%; /* A imagem ocupa toda a largura do card */
  height: 260px;
  cursor: pointer;
}
  
.card p {
  color: var(--text-color);
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
}

.arrowButton {
  background: none;
  border: none;
  font-size: 35px;
  color: var(--text-color);
  cursor: pointer;
  z-index: 2;
}
  
.arrowButton:disabled {
  color: var(--box-color);
  cursor: not-allowed;
}

/* Para tablets */
@media (max-width: 1024px) {

  .cards {
    margin-left: -25px;
    gap: 30px;
  }

  .card {
    flex-basis: calc(33.33% - 40px); /* Três cards por linha */
    max-width: 190px;
  }

  .card p {
    font-size: 18px; /* Ajusta o texto */
  }
}

/* Para celulares */
@media (max-width: 768px) {
  .cards {
    margin-left: -25px;
    gap: 10px; 
    justify-content: center;
  }

  .card {
    max-width: 120px;
    flex-basis: calc(50% - 40px); /* Dois cards por linha */
  }

  .card img {
    height: 200px; /* Ajusta a altura da imagem */
  }

  .card p {
    font-size: 16px; /* Texto menor */
  }
}