/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
    --background: #222831;
    --text-color: #ffffff;
    --box-color: #424242;
    --elements: #000000;
    --opacity: rgba(34, 40, 49, 0.7);
}
  
[data-theme='light'] {
    --background: #9FAABC;
    --text-color: #000000;
    --box-color: #C4C4C4;
    --elements: #ffffff;
    --opacity: rgba(239, 236, 236, 0.7);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comic Neue", system-ui;
}

body {
    height: 100%;
    background-color: var(--background);
}