.container {
    margin-top: 132px;
    min-height: 100vh;
    background-color: #222831;
    display: flex;
    flex-direction: column;
    padding-left: calc(180px + 60px);
    font-family: "Comic Neue", system-ui;
}