.container {
    margin-top: 50px;
    font-family: "Comic Neue", system-ui;
}

.titulo {
    display: flex;
    color: var(--text-color);
    align-items: center;
    justify-content: start;
    margin-left: 180px;
}

.icone {
    cursor: pointer;
    font-size: 40px;
    margin-right: 20px;
}

.titulo h1 {
    font-size: 40px;
}

/* Estilo geral do formulário */
.form {
    display: flex;
    flex-direction: column;
    width: 1000px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--box-color);
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.inputs {
    display: flex;
    gap: 10px;
}

.formGroup {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.formGroup label {
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--text-color);
    margin-top: 10px;
    font-size: 35px;
}

.formGroup input {
    height: 50px;
}

.formGroup input,
.formGroup select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--text-color);
    background-color: var(--background);
    border-radius: 5px;
    color: var(--text-color);
    width: 100%;
    box-sizing: border-box;
    font-family: "Comic Neue", system-ui;
}

.formGroup textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--text-color);
    background-color: var(--background);
    border-radius: 5px;
    height: 100px;
    resize: vertical;
    color: var(--text-color);
    width: 100%;
    box-sizing: border-box;
    font-family: "Comic Neue", system-ui;
}

.fileInputStyled {
    padding: 10px 15px;
    font-size: 16px;
    color: var(--text-color);
    border: none;
    cursor: pointer;
    align-items: center;
}

.fileInputStyled::-webkit-file-upload-button {
    visibility: hidden; /* Oculta o botão padrão do input */
}

.fileInputStyled::before {
    content: 'Escolher Arquivo ';
    align-items: center;
    display: inline-block;
    background: var(--background);
    color: var(--text-color);
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.capa {
    display: flex;
    gap: 3px;
}

.previewImagem {
    max-width: 50px;
    max-height: 50px;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    cursor: pointer;
}

.formGroup input::placeholder {
    color: var(--text-color);
    font-family: "Comic Neue", system-ui;
}
.formGroup select::placeholder {
    color: var(--text-color);
    font-family: "Comic Neue", system-ui;
}
.formGroup textarea::placeholder {
    color: var(--text-color);
    font-family: "Comic Neue", system-ui;
}

.formGroup input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
}

.formGroup textarea::-webkit-scrollbar {
    display: none; /* Para Chrome, Safari e Edge */
}

/* Estilo para o botão Selecionar Gêneros */
.generosButton {
    padding: 10px;
    font-size: 18px;
    color: var(--text-color);
    background-color: var(--background); /* Mesmo fundo do .submitButton */
    border: 1px solid var(--text-color);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 98%; /* Torna o botão responsivo como os outros elementos */
    height: 100%;
}

.generosButton:hover {
    background-color: var(--elements); /* Mesmo efeito de hover do .submitButton */
}

/* Container opcional para melhor alinhamento */

.botao {
    text-align: center;
}

.submitButton {
    padding: 10px 15px;
    font-size: 18px;
    color: var(--text-color);
    background-color: var(--background);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    width: 30%;
}
    
.submitButton:hover {
    background-color: var(--elements);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1000;
}

.modalImage {
    max-width: 90%;
    max-height: 90%;
    border-radius: 8px;
}