.containerObra {
    padding-left: calc(180px + 25px);
    margin-top: 45px;
}

.detalhe {
    display: flex; /* Permite alinhar a capa e as informações lado a lado */
    margin-bottom: 0;   
    padding: 20px 20px 0 20px;
}

.capa img {
    width: 220px; /* Define o tamanho da capa */
    height: 370px; /* Mantém a proporção da imagem */
}

.informacoes {
    position: relative;
    display: flex;
    background-color: var(--box-color);
    padding: 20px;
    color: var(--text-color);
    flex-direction: column; /* Faz os textos ficarem um abaixo do outro */
    flex: 1; /* Faz as informações ocuparem o espaço restante */
    border-radius: 0 15px 15px 0;
    height: 370px;
}

.icone {
    text-align: end;
}

.icone:hover {
    color: var(--elements);
}

.titulo {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 10px; /* Espaço abaixo do título */
}

.generos {
    display: flex; /* Gêneros em linha horizontal */
    flex-wrap: wrap; /* Permite que os gêneros quebrem de linha, se necessário */
    gap: 10px; /* Espaçamento entre os gêneros */
    margin-bottom: 10px; /* Espaço abaixo da seção de gêneros */
}

.generos div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    height: 10px;
    background-color: var(--opacity);
    padding: 13px;
    border-radius: 40px;
}

.generos div p {
    margin: 0; /* Espaçamento entre os parágrafos */
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.informacoes p {
    margin-top: 10px;
    font-size: 25px;
    letter-spacing: normal;
    font-weight: bold;
}

.especificacao {
    position: absolute;
    bottom: 5px;
    display: flex;
    justify-content: space-between; /* Alinha os textos horizontalmente */
    width: 100%;
}

.especificacao p {
    font-size: 25px;
    letter-spacing: normal;
    font-weight: bold;
    margin-right: auto;
}

.acoes {
    margin-top: -4px;
    display: flex;
    gap: 50px;
    color: var(--text-color);
    padding: 0 20px 20px 20px;
}

.funcoes {
    display: flex;
    flex-direction: column;
    width: 220px;
}

.funcoes button {
    display: flex; /* Adiciona flexbox para alinhar os elementos */
    align-items: center; /* Alinha verticalmente o ícone e o texto */
    justify-content: center; /* Centraliza o ícone e o texto horizontalmente */
    width: 100%;
    margin-bottom: 35px;
    background-color: var(--box-color);
    border: 0;
    padding: 15px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    color: var(--text-color);
}

.funcoes button svg {
    font-size: 25px;
    margin-right: 10px; /* Adiciona um espaço entre o ícone e o texto */
}

.icones {
    display: flex;
    justify-content: space-around; /* Alinha os textos horizontalmente */
    align-items: center;
}

.icones div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icones svg {
    cursor: pointer;
    font-size: 45px;
}

.curtir:hover {
    color: #007bff;
}

.like {
    color: #007bff; /* Cor quando está com like */
}

.likesCount {
    font-size: 17px;
    font-weight: bold;
    margin-top: 5px;
    color: var(--text-color);
}

.curtido {
    font-size: 17px;
    font-weight: bold;
    margin-top: 5px;
    color: #007bff;
}

.aberto:hover {
    color: var(--elements);
}

.topoCapitulos {
    display: flex; /* Alinha os textos horizontalmente */
    align-items: center;
}

.topoCapitulos h1 {
    font-size: 60px;
    font-weight: bold;
}

.mudarOrdem {
    margin-left: auto;
    margin-top: 10px;
}

.mudarOrdem svg {
    border: 1px solid var(--text-color);
    margin-left: 0.29px;
    color: var(--text-color);
    font-size: 45px;
}

.mudarOrdem svg:hover {
    border: 1px solid #007bff;
    color: #007bff;
}

.mudarOrdem .selecionado {
    border: 1px solid #007bff;
    color: #007bff;
}

.capitulos {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
}

.capitulo {
    display: flex;
    justify-content: space-around;
    background-color: var(--box-color);
    width: 800px;
    border-radius: 15px;
    padding: 10px;
    color: var(--text-color);
    align-items: center;
    justify-content: space-around;
    font-size: 25px;
}

.capitulo svg {
    cursor: pointer;
}

.numero {
    text-align: left;
    width: 150px;
    margin-left: 10px;
    cursor: pointer;
}

.numero:hover {
    color: var(--elements);
    text-decoration: underline;
}
  
.tituloCap {
    text-align: left;
    margin-left: 50px;
    flex: 1;
    word-wrap: break-word;
}
.autorInativo {
    color: #ff0000; /* Cor vermelha ou qualquer outra que você preferir */
    font-style: italic;
}


@media (max-width: 1024px) {
    .containerObra {
        margin-top: 35px;
    }

    .detalhe {
        padding: 10px 10px 0 10xp;
    }

    .informacoes {
        padding: 15px;
    }

    .titulo {
        font-size: 45px;
        margin-bottom: 15px;
    }

    .generos {
        margin-bottom: 15px;
    }

    .generos div {
        margin-right: 15px;
        padding: 10px;
    }

    .generos div p {
        font-size: 15px;
    }

    .informacoes p {
        font-size: 20px;
    }

    .especificacao p {
        font-size: 20px;
    }
    
    .acoes {
        gap: 20px;
    }

    .funcoes button {
        font-size: 20px;
        margin-bottom: 25px;
    }

    .funcoes button svg {
        font-size: 20px;
    }

    .icones svg {
        font-size: 35px;
    }

    .likesCount {
        font-size: 15px;
    }

    .curtido {
        font-size: 15px;
    }

    .capitulosContainer {
        margin-top: 15px;
    }
    
    .topoCapitulos h1 {
        font-size: 45px;
    }

    .mudarOrdem {
        margin-top: 5px;
    }

    .mudarOrdem svg {
        font-size: 35px;
    }

    .capitulo {
        width: 535px;
        font-size: 20px;
    }

    .numero {
        width: 20%;
    }
}

@media (max-width: 768px) {
    .containerObra {
        padding-left: 0; /* Menu ficará por cima no mobile */
        margin-top: 25px;
    }

    .detalhe {
        padding: 10px 10px 0 10xp;
    }

    .capa img {
        width: 100px;
        height: 250px;
    }

    .informacoes {
        padding: 10px;
        height: 250px;
    }

    .titulo {
        font-size: 30px;
        margin-bottom: 5px;
    }

    .generos {
        gap: 5px;
    }

    .generos div {
        margin-right: 0px;
        padding: 10px;
    }

    .generos div p {
        font-size: 9px;
    }

    .informacoes p {
        margin-top: 5px;
        font-size: 12px;
    }

    .especificacao p {
        font-size: 12px;
    }
    
    .acoes {
        gap: 10px;
    }

    .funcoes {
        width: 100px;
    }

    .funcoes button {
        font-size: 15px;
        margin-bottom: 25px;
    }

    .funcoes button svg {
        font-size: 15px;
    } 

    .icones svg {
        font-size: 25px;
    }

    .likesCount {
        font-size: 12px;
    }

    .curtido {
        font-size: 12px;
    }

    .capitulosContainer {
        margin-top: 15px;
    }

    .topoCapitulos h1 {
        font-size: 30px;
    }

    .mudarOrdem {
        margin-top: 5px;
    }

    .mudarOrdem svg {
        font-size: 25px;
    }

    .capitulo {
        width: 280px;
        font-size: 15px;
    }

    .numero {
        width: 20%;
    }
}