.readerContainer {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    align-items: center;
}
/* Header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

.informacoes {
    display: flex;
    flex-direction: column;
}

.informacoes a {
    color: #007bff;
    font-size: 20px;
}

.header span {
    font-size: 20px;
}

.select {
    padding: 10px;
    font-size: 20px;
    border-radius: 15px;
    background-color: #424242;
    border: none;
    width: 170px;
    color: #ffffff;
    margin-right: 20px;
    font-weight: bold;
    appearance: none; /* Remove a setinha padrão do select */
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="%23ffffff" viewBox="0 0 24 24" width="24" height="24"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 3px center; /* Ajuste a posição do ícone */
    background-size: 30px; /* Aumente o tamanho do ícone aqui */
}

.select option {
    font-weight: bold;
}

.select option:hover {
    background-color: #000000;
}

.pageContainer {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.mangaPage {
    width: 100%;
    height: auto; /* Aumentar a altura */
}

/* Navigation Buttons */
.navigationButton {
    font-size: 24px;
    padding: 10px;
    color: #ffffff;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: color 0.3s;
    z-index: 1; /* Garantir que fique sobre a imagem */
}

.navigationButton:hover {
    color: #000000;
}

.navigationButton.left {
    left: 15px;
}

.navigationButton.right {
    right: 15px;
}

.navigationButton.disabled {
    color: #ccc;
    cursor: not-allowed;
}

.telaFull {
    padding: 10px;
    color: #ffffff;
    position: fixed;
    bottom: 1px;
    cursor: pointer;
    transition: color 0.3s;
    z-index: 1; /* Garantir que fique sobre a imagem */
    right: 5px;
}
