.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
}

.logo img {
    max-width: 150px;
    /* Ajuste conforme necessário */
    margin-bottom: 10px;
}

.content {
    display: flex;
    width: 100%;
    max-width: 1200px;
    align-items: center;
}

.imageSection {
    width: 750px;
    height: 450px;
}

.imageSection img {
    max-width: 100%;
    height: 100%;
    border-radius: 15px 0 0 15px;
}

.loginForm {
    background-color: var(--box-color);
    padding: 7px 40px 7px 40px;
    border-radius: 0 15px 15px 0;
    width: 450px;
    height: 450px;
}

.loginForm h2 {
    color: var(--text-color);
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 20px;
}

.loginForm form {
    display: flex;
    color: var(--text-color);
    flex-direction: column;
}

.loginForm label {
    margin-bottom: 5px;
    font-weight: bold;
}

.inputSenhaContainer {
    position: relative;
    display: flex;
    align-items: center;
}

.inputSenhaContainer input {
    padding: 10px;
    margin-bottom: 15px;
    background-color: var(--background);
    border: 1px solid var(--text-color);
    color: var(--text-color);
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
}

.iconeSenha {
    position: absolute;
    right: 10px;
    top: 9px;
    cursor: pointer;
    color: var(--text-color);
}

.loginForm input {
    padding: 10px;
    margin-bottom: 15px;
    background-color: var(--background);
    border: 1px solid var(--text-color);
    color: var(--text-color);
    border-radius: 5px;
    font-size: 16px;
}

.loginForm input::placeholder {
    color: var(--text-color);
}

.loginForm button {
    padding: 10px;
    background-color: var(--background);
    color: var(--text-color);
    border: none;
    border-radius: 15px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.loginForm button:hover {
    background-color: var(--elements);
}

.resgate {
    display: block;
    color: #007bff;
    font-size: 20px;
    text-align: start;
    text-decoration: none;
    margin-bottom: 20px;
}

.resgate:hover {
    text-decoration: underline;
}

.link {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #007bff;
    font-size: 20px;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.btn-activate {
    background-color: green;
    color: white;
    padding: 10px 20px; /* Adiciona um pouco de espaçamento interno */
    margin-top: 10px; /* Adiciona um espaçamento entre os botões */
    margin-right: 10px; /* Adiciona um espaçamento à direita (caso haja outros elementos ao lado) */
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  


@media (max-width: 1024px) {
    .content {
        flex-direction: column;
    }

    .logo img {
        max-width: 300px;
        /* Ajuste conforme necessário */
        margin-bottom: 5px;
    }

    .imageSection {
        width: 550px;
        height: 350px;
    }

    .imageSection img {
        border-radius: 15px 15px 0 0;
    }

    .loginForm {
        width: 550px;
        height: 420px;
        border-radius: 0 0 15px 15px;
    }

    .loginForm h2 {
        font-size: 40px;
    }
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }

    .logo img {
        max-width: 100px;
        /* Ajuste conforme necessário */
        margin-bottom: 5px;
    }

    .imageSection {
        width: 400px;
        height: 270px;
    }

    .imageSection img {
        border-radius: 15px 15px 0 0;
    }

    .loginForm {
        width: 400px;
        height: 420px;
        border-radius: 0 0 15px 15px;
    }

    .loginForm h2 {
        font-size: 40px;
    }
}