.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
}

.logo img {
    max-width: 150px; /* Ajuste conforme necessário */
    margin-bottom: 10px;
}

.content {
    display: flex;
    width: 100%;
    max-width: 1200px;
    align-items: center;
}

.imageSection {
    width: 750px;
    height: 500px;
}

.imageSection img {
    max-width: 100%;
    height: 100%;
    border-radius: 15px 0 0 15px;
}

.loginForm {
    background-color: var(--box-color);
    padding: 7px 40px 7px 40px;
    border-radius: 0 15px 15px 0;
    width: 450px;
    height: 500px;
}

.loginForm h2 {
    color: var(--text-color);
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 45px;
}

.loginForm form {
    display: flex;
    color: var(--text-color);
    flex-direction: column;
}

.loginForm label {
    margin-bottom: 3px;
    font-weight: bold;
}

.loginForm input {
    padding: 10px;
    margin-bottom: 13px;
    background-color: var(--background);
    border: 1px solid var(--text-color);
    border-radius: 5px;
    color: var(--text-color);
    font-size: 16px;
}

.loginForm input::placeholder {
    color: var(--text-color);
}

.inputSenhaContainer {
    position: relative;
    display: flex;
    align-items: center;
}

.inputSenhaContainer input {
    padding: 10px;
    margin-bottom: 15px;
    background-color: var(--background);
    border: 1px solid var(--text-color);
    color: var(--text-color);
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
}

.iconeSenha {
    position: absolute;
    right: 10px;
    top: 9px;
    cursor: pointer;
    color: var(--text-color);
}

.fileInputStyled {
    padding: 10px 15px;
    font-size: 16px;
    color: var(--text-color);
    border: none;
    cursor: pointer;
    width: 100%;
}

.fileInputStyled::-webkit-file-upload-button {
    visibility: hidden; /* Oculta o botão padrão do input */
}

.fileInputStyled::before {
    content: 'Escolher Arquivo';
    display: inline-block;
    background: var(--background);
    color: var(--text-color);
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.rememberMe {
    display: flex;
    margin-bottom: 8px;
    margin-top: 5px;
    justify-content: space-around;
    justify-items: center;
}

.rememberMe div {
    display: flex;
    align-items: center; /* Alinha verticalmente o input e label */
}

.rememberMe input {
    -webkit-appearance: none; /* Remove a aparência padrão */
    width: 20px;
    height: 20px;
    border: 2px solid rgba(255, 255, 255, 0.5); /* Borda inicial do checkbox */
    border-radius: 4px; /* Bordas arredondadas */
    background-color: transparent; /* Fundo transparente inicialmente */
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    margin-right: 10px; /* Espaçamento entre o checkbox e a label */
    display: flex;
    align-items: center;
    justify-content: center;
}

.rememberMe input:checked {
    background-color: var(--elements); /* Fundo preto quando marcado */
    border-color: var(--elements); /* Borda preta ao marcar */
}
  
.rememberMe input:checked::before {
    content: "✔";
    color: var(--text-color);
    font-size: 28px;
    display: inline-block;
    text-align: center;
    line-height: 20px; /* Alinha o ✔ verticalmente */
}

.rememberMe label {
    color: var(--text-color);
    font-size: 1.2em;
}

.loginForm button {
    padding: 10px;
    background-color: var(--background);
    color: var(--text-color);
    border: none;
    border-radius: 15px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.loginForm button:hover {
    background-color: var(--elements);
}

.cadastro {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #007bff;
    font-size: 20px;
    text-decoration: none;
}

.cadastro:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
        text-align: center;
    }

    .login-form {
        margin-left: 0;
        width: 100%;
        max-width: none;
    }
}