.comentarios {
    width: 100%;
    max-width: 800px;
    padding: 10px;
    color: var(--text-color);
}
  
.comentarios h1 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
}

.novoComentario {
    display: flex;
    align-items: center;
    padding: 5px 0;
    margin-bottom: 25px;
}

.iconeUsuario {
    color: var(--text-color);
    font-size: 35px;
}
  
.novoComentario textarea {
    margin-top: 15px;
    margin-left: 10px;
    width: 100%;
    border: 0;
    outline: none;
    background-color: transparent;
    color: var(--text-color);
    font-size: 16px;
    border-bottom: 2px solid var(--text-color);
    resize: none; /* Desativa o redimensionamento */
}

.novoComentario textarea::placeholder {
    color: var(--text-color); /* Cor do placeholder */
    font-size: 20px;
}

.novoComentario textarea::-webkit-scrollbar {
    display: none; /* Para Chrome, Safari e Edge */
}

.enviar {
    color: var(--text-color);
    cursor: pointer;
    font-size: 25px;
}
  
.enviar:hover {
    color: var(--elements);
}

.inputEdicao {
    width: 100%;
    border: 0;
    outline: none;
    background-color: transparent;
    color: var(--text-color);
    font-size: 16px;
    border-bottom: 2px solid var(--text-color);
    resize: none; /* Desativa o redimensionamento */
}

.inputEdicao::-webkit-scrollbar {
    display: none; /* Para Chrome, Safari e Edge */
}

.buttonSalvar {
    margin-top: 5px;
    margin-right: 5px;
    padding: 5px 10px;
    background-color: var(--background);
    color: #06D001;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.buttonCancelar {
    margin-top: 5px;
    padding: 5px 10px;
    background-color: var(--background);
    color: #CF0A0A;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.buttonCancelar:hover, .buttonSalvar:hover {
    background-color: var(--elements);
}
  
.comentario {
    display: flex;
    align-items: flex-start;
    background-color: var(--box-color); /* Fundo dos comentários */
    padding: 10px;
    font-size: 20px;
    border-radius: 15px;
    margin-bottom: 10px;
    position: relative;
    align-items: center;
}

.iconeUsuarioComentario {
    margin-right: 10px;
    top: 50%;
}

.conteudoComentario {
    flex: 1;
}

.usuario {
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 5px;
    color: var(--text-color);
}
  
.texto {
    color: var(--text-color); /* Texto dos comentários */
    width: 95%;
}

.opcao svg {
    cursor: pointer;
    color: var(--text-color);
}

.opcao svg:hover {
    color: var(--elements);
}

.dropdown {
    position: absolute;
    background-color: var(--box-color);
    border-radius: 5px;
    border: 1px solid var(--elements);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
    padding: 5px;
    list-style: none;
    right: 1px;
}

.dropdown li {
    padding: 5px 10px;
    font-weight: bold;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 1024px) {
    .comentarios {
        width: 70%;
    }

    .comentarios h1 {
        font-size: 45px;
    }
}

@media (max-width: 768px) {
    .comentarios {
        width: 70%;
    }

    .comentarios h1 {
        font-size: 30px;
    }

    .novoComentario {
        margin-bottom: 15px;
    }

    .iconeUsuario {
        font-size: 20px;
    }

    .novoComentario textarea {
        font-size: 13px;
    }

    .novoComentario textarea::placeholder {
        font-size: 15px;
    }

    .enviar {
        font-size: 20px;
    }

    .inputEdicao {
        font-size: 13px;
    }

    .comentario {
        font-size: 12px;
    }

    .usuario {
        font-size: 15px;
    }
}