.comentarios {
    width: 100%;
    max-width: 800px;
    padding: 10px;
    border-radius: 10px;
    color: var(--text-color);
}
  
.comentarios h1 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
}

.novoComentario {
    display: flex;
    align-items: center;
    padding: 5px 0;
    margin-bottom: 25px;
}

.iconeUsuario {
    color: var(--text-color);
}
  
.novoComentario input {
    margin-top: 15px;
    margin-left: 10px;
    width: 100%;
    border: 0;
    outline: none;
    background-color: transparent;
    color: var(--text-color);
    font-size: 16px;
    border-bottom: 2px solid var(--text-color);
}

.novoComentario input::placeholder {
    color: var(--text-color); /* Cor do placeholder */
    font-size: 20px;
}

.enviar {
    color: var(--text-color);
    cursor: pointer;
}
  
.enviar:hover {
    color: var(--elements);
}
  
.comentario {
    display: flex;
    align-items: flex-start;
    background-color: var(--box-color); /* Fundo dos comentários */
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 10px;
    position: relative;
    align-items: center;
}

.iconeUsuarioComentario {
    margin-right: 10px;
    top: 50%;
}

.conteudoComentario {
    flex: 1;
}

.usuario {
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--text-color);
}
  
.texto {
    color: var(--text-color); /* Texto dos comentários */
    width: 95%;
}

.opcao {
    cursor: pointer;
    color: var(--text-color);
}

.opcao:hover {
    color: var(--elements);
}