.container {
    margin-top: 132px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-left: calc(180px + 60px);
    font-family: "Comic Neue", system-ui;
} 

.titulo {
    display: flex;
    color: var(--text-color);
    align-items: start;
}

.icone {
    cursor: pointer;
    font-size: 40px; /* Ajuste conforme necessário */
    margin-right: 20px;
}

.titulo h1 {
    font-size: 40px;
}

.pesquisaContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    margin: 20px 0;
    margin-left: -25px;
}

.pesquisa {
    padding: 10px;
    font-size: 16px;
    width: 500px;
    border-radius: 25px;
    background-color: var(--background);
    border: 2px solid var(--text-color);
    color: var(--text-color);
    margin-right: 20px;
}

.pesquisa::placeholder {
    color: var(--text-color);
}

.select {
    padding: 10px;
    font-size: 16px;
    border-radius: 15px;
    background-color: var(--box-color);
    border: none;
    width: 170px;
    color: var(--text-color);
    margin-right: 20px;
    font-weight: bold;
    appearance: none; /* Remove a setinha padrão do select */
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="%23ffffff" viewBox="0 0 24 24" width="24" height="24"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 3px center; /* Ajuste a posição do ícone */
    background-size: 30px; /* Aumente o tamanho do ícone aqui */
}

.select option {
    font-weight: bold;
}

.select option:hover {
    background-color: var(--elements);
}

.generos {
    padding: 10px 20px;
    width: 210px;
    font-size: 16px;
    background-color: var(--box-color);
    color: var(--text-color);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
}

@media (max-width: 1024px) {
    .container {
        margin-top: 106px;
    }

    .pesquisaContainer {
        margin-left: -35px;
    }

    .pesquisa {
        width: 350px;
        margin-right: 8px;
    }

    .select {
        width: 130px;
        font-size: 13px;
        background-position: right 2px center;
        margin-right: 8px;
    }

    .generos {
        width: 150px;
        font-size: 13px;
    }
}
  
  /* Para celulares (telas menores que 768px) */
  @media (max-width: 768px) {
    .container {
      padding-left: 0; /* Menu ficará por cima no mobile */
      margin-top: 50px;
    }

    .titulo {
        margin-left: 10px;
        margin-bottom: 10px;
    }

    .icone {
        font-size: 30px;
    }

    .titulo h1 {
        font-size: 30px;
    }

    .pesquisaContainer {
        margin-left: 5px;
    }

    .pesquisa {
        width: 340px;
        margin-left: 5px;
        margin-bottom: 10px;
    }

    .select {
        width: 100px;
        padding: 10px;
        font-size: 10px;
        margin-right: 5px;
        background-position: right 1px center;
    }

    .generos {
        width: 135px;
        font-size: 10px;
    }
  }