.container {
    margin-top: 132px;
    min-height: 100vh;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    padding-left: calc(180px + 60px);
    font-family: "Comic Neue", system-ui;
} 

.titulo {
    display: flex;
    color: var(--text-color);
    align-items: center;
}

.icone {
    cursor: pointer;
    font-size: 40px; /* Ajuste conforme necessário */
    margin-right: 20px;
}

.titulo h1 {
    font-size: 40px;
}