.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: var(--box-color);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 30px;
    font-weight: bold;
    color: var(--text-color);
    text-align: center;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.formGroup {
    display: flex;
    flex-direction: column;
}

.label {
    font-size: 20px;
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 5px;
}

.input,
.fileInput {
    font-size: 1rem;
    padding: 10px;
    color: var(--text-color);
    border: 1px solid var(--text-color);
    border-radius: 5px;
    background-color: var(--background);
    transition: border-color 0.3s ease;
}

.fileInput {
    padding: 10px 15px;
    font-size: 16px;
    color: var(--text-color);
    cursor: pointer;
    width: 100%;
    margin-bottom: 5px;
}

.fileInput::-webkit-file-upload-button {
    visibility: hidden;
    /* Oculta o botão padrão do input */
}

.fileInput::before {
    content: 'Escolher Arquivo';
    display: inline-block;
    background: var(--background);
    color: var(--text-color);
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.submitButton {
    width: 50%;
    margin: auto;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: var(--background);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submitButton:hover {
    background-color: var(--elements);
}

.loading {
    font-size: 1.2rem;
    text-align: center;
    color: #555;
}

.previewImage {
    width: 150px;
    /* Define a largura fixa */
    height: 150px;
    /* Define a altura fixa */
    object-fit: cover;
    /* Garante que a imagem seja cortada para se ajustar ao tamanho */
    margin-bottom: 10px;
    border-radius: 5px;
    /* Bordas arredondadas para um visual mais limpo */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    /* Sombra leve para destacar a imagem */
    border: 1px solid #ddd;
    /* Borda leve para separação */
}

.previewBanner {
    height: 150px;
    /* Define a altura fixa */
    object-fit: cover;
    /* Garante que a imagem seja cortada para se ajustar ao tamanho */
    margin-bottom: 10px;
    border-radius: 5px;
    /* Bordas arredondadas para um visual mais limpo */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    /* Sombra leve para destacar a imagem */
    border: 1px solid #ddd;
    /* Borda leve para separação */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Garante que o contêiner ocupe a altura total da tela */
    text-align: center;
    padding: 20px;
}

.errorTitle {
    color: red;
    font-size: 24px;
    margin-bottom: 10px;
}

.errorMessage {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
}

.homeButton {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    display: block;
    /* Garante que o botão seja tratado como bloco */
    margin: 20px auto;
    /* Centraliza horizontalmente */
    text-align: center;
}

.homeButton:hover {
    background-color: #0056b3;
}

.notOwnerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Centraliza verticalmente */
    text-align: center;
}



@media (max-width: 1024px) {
    .container {
        margin-top: 200px;
    }
}

@media (max-width: 768px) {
    .container {
        margin: 25px;
    }
}